div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: antiquewhite;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 500px;
    overflow: auto;
}

img {
    width:  100px;
    height: 80px;
}